@model Gestao.Models.ColaboradoresModel

@{
    ViewData["Title"] = "Editar Colaborador";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h1 class="h4 mb-0"><i class="bi bi-pencil-square me-2"></i>Editar Colaborador</h1>
        </div>
        <div class="card-body">
            <form asp-action="AtualizarColaborador" asp-controller="Colaboradores"method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="ColaboradorId" />

                <div class="mb-3">
                    <label asp-for="ColaboradorNome" class="form-label fw-bold"></label>
                    <input asp-for="ColaboradorNome" class="form-control" />
                    <span asp-validation-for="ColaboradorNome" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="UnidadeId" class="form-label fw-bold"></label>
                    <select asp-for="UnidadeId" class="form-select" asp-items="ViewBag.UnidadeId"></select>
                    <span asp-validation-for="UnidadeId" class="text-danger"></span>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary me-2">
                        <i class="bi bi-check-circle me-1"></i> Salvar
                    </button>
                    <a asp-action="ListarCocaboradores" class="btn btn-secondary">
                        <i class="bi bi-arrow-left-circle me-1"></i> Voltar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
